@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to MyStore</h2>
    <p class="lead">If you want to by something you are on the right way</p>
    <p>@Html.ActionLink("Learn more >>", "Index", "Product")</p>
</div>

